<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Your+Custom+Font&display=swap">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/ashwathy.css') }}">
</head>
<script>
function checkPhValue() {
    var pHInput = document.getElementById("Ph");
    var pHAlert = document.getElementById("phAlert");
    var pHValue = parseFloat(pHInput.value);
    var getRecommendationButton = document.getElementById("getRecommendationButton");

    if (isNaN(pHValue)) {
        pHAlert.textContent = "Please enter a valid pH value.";
        getRecommendationButton.disabled = true; // Disable the button
    } else if (pHValue < 0 || pHValue > 14) {
        pHAlert.textContent = "pH value must be between 0 and 14.";
        getRecommendationButton.disabled = true; // Disable the button
    } else {
        pHAlert.textContent = ""; // Clear the alert message
        getRecommendationButton.disabled = false; // Enable the button
    }
}
function checkPotassiumValue() {
    var PotInput = document.getElementById("Potassium");
    var PotAlert = document.getElementById("PotAlert");
    var PotValue = parseFloat(PotInput.value);
    var getRecommendationButton = document.getElementById("getRecommendationButton");

    if (isNaN(PotValue)) {
        PotAlert.textContent = "Please enter a valid potassium value.";
        getRecommendationButton.disabled = true; // Disable the button
    } else if (PotValue < 0 || PotValue > 10000) {
        PotAlert.textContent = "Potassium value must be between 0 and 10000.";
        getRecommendationButton.disabled = true; // Disable the button
    } else {
        PotAlert.textContent = ""; // Clear the alert message
        getRecommendationButton.disabled = false; // Enable the button
    }
}
function checkNitrogenValue() {
        var NitrogenInput = document.getElementById("Nitrogen");
        var NitrogenAlert = document.getElementById("NitrogenAlert");
        var NitrogenValue = parseFloat(NitrogenInput.value);
        var getRecommendationButton = document.getElementById("getRecommendationButton");

        if (isNaN(NitrogenValue)) {
            NitrogenAlert.textContent = "Please enter a valid nitrogen value.";
            getRecommendationButton.disabled = true;
        } else if (NitrogenValue < 0 || NitrogenValue > 10000) {
            NitrogenAlert.textContent = "Nitrogen value must be between 0 and 10000.";
            getRecommendationButton.disabled = true;
        } else {
            NitrogenAlert.textContent = "";
            getRecommendationButton.disabled = false;
        }
    }

    function checkPhosphorusValue() {
        var PhosphorusInput = document.getElementById("Phosphorus");
        var PhosphorusAlert = document.getElementById("PhosphorusAlert");
        var PhosphorusValue = parseFloat(PhosphorusInput.value);
        var getRecommendationButton = document.getElementById("getRecommendationButton");

        if (isNaN(PhosphorusValue)) {
            PhosphorusAlert.textContent = "Please enter a valid phosphorus value.";
            getRecommendationButton.disabled = true;
        } else if (PhosphorusValue < 0 || PhosphorusValue > 5000) {
            PhosphorusAlert.textContent = "Phosphorus value must be between 0 and 5000.";
            getRecommendationButton.disabled = true;
        } else {
            PhosphorusAlert.textContent = "";
            getRecommendationButton.disabled = false;
        }
    }
</script>
<body style="background:#BCBBB8">
<section id="header">
    <a href="#"><img src="../static/images/hello/logo_f1.png" class="logo" alt="" height="100" width="150"></a>
    <div>
        <ul id="navbar">
            <li>SOIL PULSE</li>
            <li><a  href="/">HOME</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a class="active" href="/model">OUR SOLUTION<i class="fa-sharp fa-light fa-seedling"></i></a></li>
        </ul>
    </div>
</section>
<div id="Ibody">
    <div class="Icontainer my-3 mt-3">
        <form action="/predict" method="POST">
           
            <div class="form-group">
                <label for="Nitrogen" class="form-label">Nitrogen</label>
                <input type="number" id="Nitrogen" name="Nitrogen" placeholder="Enter Nitrogen" class="form-control" required step="0" onblur="checkNitrogenValue()">
                <p id="NitrogenAlert" class="alert-message"></p>
            </div>
    
            <div class="form-group">
                <label for="Phosphorus" class="form-label">Phosphorus</label>
                <input type="number" id="Phosphorus" name="Phosphorus" placeholder="Enter Phosphorus" class="form-control" required step="0" onblur="checkPhosphorusValue()">
                <p id="PhosphorusAlert" class="alert-message"></p>
            </div>
    
            <div class="form-group">
                <label for="Potassium" class="form-label">Potassium</label>
                <input type="number" id="Potassium" name="Potassium" placeholder="Enter Potassium" class="form-control" required step="0" onblur="checkPotassiumValue()">
                <p id="PotAlert" class="alert-message"></p>
            </div>
    
            <div class="form-group">
                <label for="Ph" class="form-label">pH</label>
                <input type="number" step="0.01" id="Ph" name="Ph" placeholder="Enter pH value" class="form-control" required step="0" onblur="checkPhValue()">
                <p id="phAlert" class="alert-message"></p>
            </div>
            <div class="form-group">
                <label for="address" class="form-label">Address</label>
                <p id="Address" class="form-control">{{response_data['address']}}</p>
            </div>
    
            <div class="form-group">
                <button type="submit" class="Iprimary" id="getRecommendationButton">Get Recommendation</button>
            </div>
        </form>
    </div>
    

        {% if response_data['result'] %}
        <br>
        <br>
        <div class="custom-container">
          <div class="custom-card mx-auto">
            <img src="{{url_for('static', filename='/images/img.jpg')}}" class="custom-card-img-top" alt="...">
            <div class="custom-card-body text-center">
              <h5 class="custom-card-title">Recommend Crop for cultivation is:</h5>
              <p class="custom-card-text">{{ response_data['result'] }}</p>
            </div>
          </div>
        </div>
      {% endif %}
      
  
  {%if response_data['main_crop'] %}
  <br>
  <br>
  <button class="Iprimary" onclick="window.location.href='/subcrops';">Get Sub Crops</button>
  {% endif %}
  {% if response_data['sub_crops'] %}
  <br>
  <hr>
  <table>
	<h3 id="h3s">The Best Sub_crops compatible with {{response_data['main_crop']}} are</h3>
	{% for key in response_data['sub_crops'] %}
	  <tr>
		  <td >{{key[0]}}</td>
	  </tr>
	{%endfor%}
  </table>
  {% endif %}


  {% if response_data['sub_crops']%}
  <button class="Iprimary" onclick="window.location.href='/market';">Proceed To Market</button>
  {% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <section id="hope">
        
        <footer  class="section-p1">
          
          <div class="col" id="lmc1" style="margin-left:25px;">
              <!--<img class="logo" src="images/logo3.png" alt="" height="10x" width="20px">-->
              <h4 style="color:aliceblue;">Contact</h4>
              <p><strong>Location:</strong>Bangalore,Karntaka</p>
              <p><strong>Phone:</strong>+91 9686765971 / 080 42001110</p>
              <p><strong>Hours</strong>10:00 - 18:00, Mon-Fri</p>
    
              <div class="follow">
                  <h4 style="color:aliceblue;">follow us</h4>
              </div>
              <div class="icon">
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-pinterest"></i>
                  <i class="fab fa-youtube"></i>
              </div>
          </div>
    
    
          <div class="col">
              <h4 style="color:aliceblue;">About</h4>
              <a href="#">About us</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Terms and Conditions</a>
              <a href="#">Delivery</a>
              <a href="#">Contact Us</a>
          </div>
    
          <div class="col">
              <h4 style="color:aliceblue;">My account</h4>
              <a href="#">Sign In</a>
              <a href="#">View cart</a>
              <a href="#">My wishlist</a>
              <a href="#">Track my order</a>
              <a href="#">Help</a>
          </div>
    
          <div class="col install">
              <h4 style="color:aliceblue;">Install App</h4>
              <p>From App Store or Google Play</p>
              <div class="row">
                  <img src="images/app.jpg" alt="">
                  <img src="images/play.jpg" alt="">
              </div>
              <p>secured Payment Gatewyas</p>
              <img src="images/pay.png" alt="">
              <p></p>
          </div>
    
          <div class="copyright">
          <p>© 2023 ,The Resin House -All rights Reserved</p>
          </div>
        
      </footer>
    
    </section>
  </body>
</html>