<!DOCTYPE html>
<html>
<head>
  <title>Dataset</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/price.css') }}">
</head>
<body >
<div id="pbody">
    <button id="train_data" class="Mprimary">Start Train</button>
    <h3 id="status"></h3>
    <button id="predict" class="Mprimary">Get Data</button>
    <h2 id="data"></h2>

  <form action="/" method="post">
    <label for="district">Select District</label>
    <select id="district" name="district" >
      {% for district in district_list %}
      <option value="{{district}}">{{district}}</option>
      {% endfor %}
<!-- pls continue this -->
    </select>
    <label for="market">Select Market</label>
    <select id="market" name="market" >
      <option value="{{response_data['state_code']}}">{{response_data['state']}}</option>
      <option value="AP">Andhra Pradesh</option>
      <option value="AR">Arunachal Pradesh</option>
      <option value="AS">Assam</option>

    </select>
    <label for="Commodity">Select Commodity</label>
    <select id="Commodity" name="Commodity" >
      <option value="{{response_data['state_code']}}">{{response_data['state']}}</option>
      <option value="AP">Andhra Pradesh</option>
      <option value="AR">Arunachal Pradesh</option>
      <option value="AS">Assam</option>
    </select>

    <label for="Variety">Select Variety</label>
    <select id="Variety" name="Variety" >
      <option value="{{response_data['state_code']}}">{{response_data['state']}}</option>
      <option value="AP">Andhra Pradesh</option>
      <option value="AR">Arunachal Pradesh</option>
      <option value="AS">Assam</option> 
    </select>
    <label for="Grade">Select Grade</label>
    <select id="Grade" name="Grade" >
      <option value="{{response_data['state_code']}}">{{response_data['state']}}</option>
      <option value="AP">Andhra Pradesh</option>
      <option value="AR">Arunachal Pradesh</option>
      <option value="AS">Assam</option>
    </select>

  </form>
</div>
  <script>
  const predict = document.querySelector("#predict");
  const button = document.querySelector("#train_data");
  const status = document.getElementById("status"); // Get the status div
  let intervalId;

  button.addEventListener("click", () => {
    clearInterval(intervalId);
    fetchDataAndUpdateStatus();
    intervalId = setInterval(fetchDataAndUpdateStatus, 500);
    
    // Show the "Get Data" button when the "Status" button is clicked
    getdata.style.display = "inline-block";
  });

  function fetchDataAndUpdateStatus() {
    fetch('/train_status', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        status.textContent = data.status;

        if (data.complete === 1) {
          clearInterval(intervalId);
        }
      })
      .catch(() => {
        status.textContent = "Error fetching data from API";
      });
  };

  predict.addEventListener("click", () => {
    fetch('/train', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById("data").textContent = data.message;
      })
      .catch(() => {
        console.error("Error fetching market data from API");
      });
      });
  </script>

</body>
</html>
